body {font-size:25px;font-family:'Mali',cursive}
button {background-color:white;border:0px;font-size:15px;position:fixed;bottom:0px;left:0px}
img {height:700px}
section {height:100%;display:none}
strike {font-size:20px;color:lightgray}

.horizontal {height:400px}
.red {color:darkred}
.row {height:100%}

#audio, #img0, #play, #txt0 {display:none}
#emojizin, #heart {width:50px;height:50px}
#img5-1, #img5-2 {filter: grayscale(70%)}
#pixelart {height:200px;width:200px;border:1px solid lightgray;font-family:Verdana,Geneva,Tahoma,sans-serif;display:table}
#pixelSpan {display:table-cell;vertical-align:middle;color:lightgray}
#txt5 {height:700px}
